{% extends 'baseRecaudos.html.twig' %}

{% block body %}

<div class="header text-center border-bottom row" id="HeaderMenu">
    <div class="col-md-12 col-xs-12 text-center">
        <h1 class="d-inline-block" style="margin:0px;"><b><span>Sistema de Recaudos Web</span></b> <span style="margin:0px; font-size:15px;">Versión 1.0</span></h1>
    </div>
</div>

{% if app.session.get("rol") == 'Administrador' or app.session.get("rol") == 'Auditor' or app.session.get("rol") == 'Superusuario'%}
<div style="height:2000px; background:#f1f2f6;" id='DatosBusiness' class="container-fluid" ng-app='recaudos' ng-controller='BusinessController as vm' ng-Init="vm.Init()">

  <div class="row bg-light border-bottom" style="margin-bottom:10px; margin-left:-35px;">
    <div class="col-md-4" style="height:35px;">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
          <li class="breadcrumb-item" ><a href="{{path('dashboard')}}">Dashboard</a></li>
          <li class="breadcrumb-item active text-dark" aria-current="page">Business Intelligence.</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-8 row pt-1" style="height:45px;">
      <div class="col-md-7 row border-left text-left">
        <div class="col-md-3"><label style="font-size:13px;">Empresa</label>: <li class="fa fa-info-circle text-info" title="Seleccione la empresa de la cual desea visualizar los datos."></li><br></div>
        <div class="col-md-9">
          <select class="select2" id="selectEmpresas" style="width:300px;" ng-change="vm.changeSelectEmpresa()" ng-model="vm.selectEmpresas">
            <option value="{[{ empresa }]}" ng-repeat="empresa in vm.empresas">{[{ empresa }]}</option>
          </select>
        </div>
      </div>

      <div class="col-md-2 border-left cTomato" style="font-size:24px">
        <li style="cursor:pointer;" title="Actualizar Visualización de datos." class="fa fa-sync-alt" ng-click="vm.refreshData()"></li>
      </div>

      <div class="col-md-3 border-left">
        <li id="view-fullscreen" class="fa fa-expand-arrows-alt cTomato" style="font-size:35px; cursor:pointer;" title="Expandir"></li>
        <li id="cancel-fullscreen" class="fa fa-compress cTomato invisible" style="font-size:35px; cursor:pointer;" title="Contraer"></li>
      </div>
    </div>
  </div>

  <div class="text-left bg-white p-2 border rounded">
    <div class="help-block">
      <span class="fa fa-question-circle text-info"></span>
      En esta sección encontrarás el analisis de datos almacenados en el sistema del proceso de recaudos. Con esta visualización de datos podrá analizar la información y tomar desiciones de este u otros procesos conexos.
    </div>
  </div>

  <!-- Grid -->
  <div class="row">
    <!-- Columna grande -->
    <div class="col-md-7 p-1">

      <div class="m-2 p-3 border bg-white rounded">
        <div class="d-inline-block"><span>Gráfica: Recaudo por día.</span></div>
        <div class="d-inline-block">
          <select class="form-control form-control-sm d-inline-block" style="width:120px;" ng-model="vm.mesSelectedFact">
            <option value="{[{ mes.mes.value }]}" ng-repeat="mes in vm.periodos[vm.selectEmpresas]">{[{ mes.mes.text }]}</option>
          </select>
          <select class="form-control form-control-sm d-inline-block" style="width:120px;" ng-model="vm.anioSelectedFact">
            <option value="{[{ anio.anio }]}" ng-repeat="anio in vm.periodos[vm.selectEmpresas] | filter:{anio: ''}">{[{ anio.anio }]}</option>
          </select>
          <button class="fa fa-filter btn btn-sm btn-warning text-white" ng-click="vm.filter('Grafica1',vm.getPagosPorDia)"></button>
          <button class="fa fa-download btn btn-sm btn-dark" ng-click="vm.download('Grafica1')"></button>
        </div>
        <canvas id="grafica1"></canvas>
      </div>

      <div class="m-2 p-3 border bg-white rounded">
        <div class="d-inline-block"><span>Gráfica: Recaudo total por Municipio.</span></div>
        <div class="d-inline-block">
          <select class="form-control form-control-sm d-inline-block" style="width:120px;" ng-model="vm.mesSelectedFact">
            <option value="{[{ mes.mes.value }]}" ng-repeat="mes in vm.periodos[vm.selectEmpresas]">{[{ mes.mes.text }]}</option>
          </select>
          <select class="form-control form-control-sm d-inline-block" style="width:120px;" ng-model="vm.anioSelectedFact">
            <option value="{[{ anio.anio }]}" ng-repeat="anio in vm.periodos[vm.selectEmpresas] | filter:{anio: ''}">{[{ anio.anio }]}</option>
          </select>
          <button class="fa fa-filter btn btn-sm btn-warning text-white" ng-click="vm.filter('Grafica3',vm.getPagosMunicipio)"></button>
          <button class="fa fa-download btn btn-sm btn-dark" ng-click="vm.download('Grafica3')"></button>
        </div>
        <canvas id="grafica3"></canvas>
      </div>

      <div class="m-2 p-3 border bg-white rounded">
        <div class="d-inline-block w-50"><span>Gráfica: Porcentaje de Crecimiento del recaudo respecto a cada mes facturado.</span></div>
        <div class="d-inline-block">
          <select class="form-control form-control-sm d-inline-block" style="width:120px;" ng-model="vm.anioSelectedFact">
            <option value="{[{ anio.anio }]}" ng-repeat="anio in vm.periodos[vm.selectEmpresas] | filter:{anio: ''}">{[{ anio.anio }]}</option>
          </select>
          <button class="fa fa-filter btn btn-sm btn-warning text-white" ng-click="vm.filter('Grafica6',vm.getCrecimientoRecaudo)"></button>
          <button class="fa fa-download btn btn-sm btn-dark" ng-click="vm.download('Grafica6')"></button>
        </div>
        <canvas id="grafica6"></canvas>
      </div>

      <div class="m-2 p-3 border bg-white rounded">
        <div class="d-inline-block"><span>Gráfica: Análisis del recaudo mes a mes.</span></div>
        <div class="d-inline-block">
          <select class="form-control form-control-sm d-inline-block" style="width:120px;" ng-model="vm.anioSelectedFact">
            <option value="{[{ anio.anio }]}" ng-repeat="anio in vm.periodos[vm.selectEmpresas] | filter:{anio: ''}">{[{ anio.anio }]}</option>
          </select>
          <button class="fa fa-filter btn btn-sm btn-warning text-white" ng-click="vm.filter('Grafica7',vm.getPagosCartera)"></button>
          <button class="fa fa-download btn btn-sm btn-dark" ng-click="vm.download('Grafica7')"></button>
        </div>
        <canvas id="grafica7"></canvas>
      </div>

    </div><!-- column grande -->

    <!-- Columna pequeña -->
    <div class="col-md-5 p-1">

      <div class="m-2 p-3 border bg-white rounded">
        <span style="color:#444;">{[{vm.datosGenerados}]}</span>
      </div>

      <div class="m-2 p-3 border bg-white rounded">
        <div class="d-inline-block"><span>Gráfica: Recaudo total por año.</span></div>
        <div class="d-inline-block">
          <button class="fa fa-download btn btn-sm btn-dark" ng-click="vm.download('Grafica2')"></button>
        </div>
        <canvas id="grafica2"></canvas>
      </div>

      <div class="m-2 p-3 border bg-white rounded">
        <span>Gráfica: Novedades registradas por año.</span>
        <button class="fa fa-download btn btn-sm btn-dark" ng-click="vm.download('Grafica4')"></button>
        <canvas class="mt-2" id="grafica4"></canvas>
      </div>

      <div class="m-2 p-3 border bg-white rounded">
        <span>Gráfica: Novedades registradas mensualmente en el año.</span>
        <select class="form-control form-control-sm d-inline-block" style="width:120px;" ng-model="vm.anioSelectedFact">
          <option value="{[{ anio.anio }]}" ng-repeat="anio in vm.periodos[vm.selectEmpresas] | filter:{anio: ''}">{[{ anio.anio }]}</option>
        </select>
        <button class="fa fa-filter btn btn-sm btn-warning text-white" ng-click="vm.filter('Grafica5',vm.getNovedadesMes)"></button>
        <button class="fa fa-download btn btn-sm btn-dark" ng-click="vm.download('Grafica5')"></button>
        <canvas class="mt-2" id="grafica5"></canvas>
      </div>

    </div><!-- columna pequeña -->

  </div><!-- row -->
  <!-- grid -->
</div>
{% endif %}

{% endblock %}
{% block javascripts %}
  $(document).ready(function() {
    $('.select2').select2({
      width : 'resolve',
      theme : 'bootstrap'
    });
   });

{% endblock %}
